

.pflex{
    display: flex;
    justify-content: space-between;
}


.card1{
    border-radius: 30px;
}

.card1 a{
    text-decoration: none;
    color: #fff;
}

.card2{
    border-radius: 30px;
}

.card2 a{
    text-decoration: none;
    color: #000;
}

.bgcard2{
    background: linear-gradient( 150deg, rgb(255, 255, 255), rgb(224, 224, 3) );
}

.flexsvg{
    display: flex;
}