body{
    background: linear-gradient(217deg, rgba(202, 133, 204, 0.8), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, rgba(255, 255, 255, 0.8), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, rgba(218, 221, 14, 0.8), rgba(0,0,255,0) 70.71% ) ;
    height: 100vh;
}

h1 {
    font-size: 55px;
}


.card {
    background-color: transparent;
}



.pflex{
    display: flex;
    justify-content: space-between;
}


.card1{
    border-radius: 30px;
}

.card1 a{
    text-decoration: none;
    color: #fff;
}

.card2{
    border-radius: 30px;
}

.card2 a{
    text-decoration: none;
    color: #000;
}

.bgcard2{
    background: linear-gradient( 150deg, rgb(255, 255, 255), rgb(224, 224, 3) );
}

.flexsvg{
    display: flex;
}

.cardfoot{
    margin-top: -10%;
}